
#footer {
  padding-right: 12px;
}
#input-container {
  display: none;
}
#output-container {
  display: none;
  min-height: 750px;
}
#progress-container {
  display: none;
}
.error {
  font-weight: bold;
  font-size: 150%;
  color: #ff0000;
}
.code {
  font-family: monospace;
  font-weight: bold;
}
#footer {
  text-align: center;
}
.ach,
.warn,
.book {
  font-style: italic;
}
.pts,
.strong {
  font-weight: bold;
}
.none {
  font-style: italic;
  opacity: 0.5;
}
.ach_yes,
.ms_yes,
.pt_yes {
  color: #004000;
}
.ach_yes:before,
.ms_yes:before {
  content: "\2714 ";
  margin-right: 3px;
}
.ach_no,
.ms_no,
.pt_no {
  color: #c00000;
}
.ach_no:before,
.ms_no:before {
  content: "\2718 ";
  margin-right: 3px;
}
.ach_list {
  list-style: none;
  padding-left: 50px;
  margin-top: 0px;
  margin-bottom: 4px;
  text-indent: -15px;
}
.result:before {
  content: "\25c8 ";
  margin-right: 3px;
}
.result {
  padding-left: 15px;
}
.need:before,
.warn:before {
  content: "! ";
  font-weight: bold;
  margin-right: 3px;
}
.need {
  margin-left: 38px;
}
.need > ul {
  margin-left: 48px;
  margin-top: 0px;
}
.need > ol {
  margin-left: 48px;
  margin-top: 0px;
}
#TOC {
  position: fixed;
  right: 0;
  top: 0;
  padding: 0;
  max-height: 90%;
  max-width: 200px;
  overflow: auto;
  background-color: #eecc99;
  box-shadow: -2px 2px 25px #603000;
}
#TOC,
#TOC-details {
  display: none;
}
#TOC:hover #TOC-details {
  display: block;
}
#TOC > h1,
#TOC li a {
  padding: 5px 10px;
  display: block;
}
#TOC > h1 {
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  background-color: #804000;
  color: #eecc99;
}
#TOC ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#TOC li a {
  color: #60300;
  text-decoration: none;
}
#TOC li a:hover {
  background-color: #ffe0b0;
}
#tabset-div {
  padding: 15px;
}
.tabset > input[type="radio"] {
  position: absolute;
  left: -200vw;
}

th,
td {
  border: 1px solid black;
  text-align: center;
}
th {
  color: white;
  background-color: #333;
}
td {
  color: black;
}
table.output th,
table.output td {
  padding: 3px 8px;
}
td.compact {
  font-size: 90%;
}
.summary td {
  border: none;
  text-align: left;
  color: #603000;
  vertical-align: top;
}
tr.past > td,
td.past,
td.count {
  background-color: #ccc;
  color: #333;
}
tr.current > td,
td.current {
  background-color: #ffe0b0;
}
.date {
  display: inline-block;
  border-style: solid;
  border-color: black;
  border-width: 0 1px 1px 0;
  text-align: right;
  padding: 0 3px 0 0;
  width: 1.25em;
}
.wind {
  display: inline-block;
  text-align: right;
  vertical-align: top;
  padding: 0 3px 3px 0;
  width: 6.5em;
}
.middle > * {
  vertical-align: middle;
}
.swatch {
  display: inline-block;
  border: 1px solid black;
}
td hr {
  border-style: dashed;
  border-color: black;
  border-width: 1px 0 0 0;
  width: 90%;
  text-align: center;
}
.cell {
  display: inline-block;
  padding: 3px;
}
td .train,
td .night,
td .crane,
td .resort {
  text-align: center;
  width: 100%;
}
td.legend {
  border: 2px solid black;
  text-align: center;
}
th.day {
  min-width: 12em;
}
th.item {
  min-width: 8em;
}
th.shirt-item {
  min-width: 36px;
}
.shirt-name {
  white-space: nowrap;
}
th.multi,
th.item,
td.item {
  border-left-width: 2px;
}
th.qty {
  width: 1.5em;
}
th.price {
  width: 3em;
}
th.index {
  width: 2em;
}
th.geode-result {
  width: 8em;
}
th.wp-result {
  width: 10.5em;
}
th.long_list {
  width: 36em;
}
td.long_list {
  text-align: left;
}
#mines-buttons,
#train-buttons,
#night-buttons,
#crane-buttons,
#winterstar-buttons {
  max-width: 57em;
}
#cart-buttons,
#cart-search,
#krobus-buttons,
#krobus-search,
#wallpaper-buttons,
#wallpaper-search {
  max-width: 45em;
}
#geode-buttons,
#geode-search,
#enchant-buttons {
  max-width: 67em;
}
/* Icon images */
img.icon {
  vertical-align: -2px;
  width: 16px;
  height: 16px;
  background-image: url("../images/all_icons.png");
}
img.small-icon {
  vertical-align: -2px;
  width: 13px;
  height: 16px;
  background-image: url("../images/all_icons.png");
}
img.event {
  vertical-align: -1px;
  width: 32px;
  height: 32px;
  background-image: url("../images/all_icons.png");
}
img.mid {
  /*	vertical-align: -1px;*/
  width: 16px;
  height: 24px;
  background-image: url("../images/all_icons.png");
}
img.tall {
  vertical-align: -1px;
  width: 16px;
  height: 32px;
  background-image: url("../images/all_icons.png");
}
img.season {
  border: 1px solid black;
  width: 12px;
  height: 8px;
  background-image: url("../images/all_icons.png");
}
img.dark {
  filter: drop-shadow(1px 0 0 #888) drop-shadow(-1px 0 0 #888)
    drop-shadow(0 1px 0 #888) drop-shadow(0 -1px 0 #888);
}
img#train {
  background-position: 0px 0px;
  width: 64px;
}
img#event_b {
  background-position: -100px 0px;
  width: 28px;
}
img#event_c {
  background-position: 0px -32px;
}
img#event_f {
  background-position: -96px -32px;
}
img#event_m {
  background-position: -64px -32px;
}
img#event_o {
  background-position: -32px -32px;
}
img#event_w {
  background-position: -64px 0px;
  width: 36px;
}
img#movie_gs {
  background-position: 0px -64px;
  height: 32px;
}
img#stump {
  background-position: -16px -64px;
}
img#geode_r {
  background-position: 0px -96px;
}
img#geode_f {
  background-position: -16px -96px;
}
img#geode_m {
  background-position: -32px -96px;
}
img#geode_o {
  background-position: -48px -96px;
}
img#geode_t {
  background-position: -32px -112px;
}
img#geode_c {
  background-position: -80px -112px;
}
img#gunther {
  background-position: -64px -96px;
}
img#pierre {
  background-position: 0px -112px;
}
img#morris {
  background-position: -16px -112px;
}
img#icon_m {
  background-position: -80px -96px;
}
img#icon_s {
  background-position: -96px -96px;
}
img#icon_i {
  background-position: -112px -96px;
}
img#icon_q {
  background-position: -48px -112px;
}
img#icon_d {
  background-position: -64px -112px;
}
img#icon_h {
  background-position: -96px -112px;
}
img#icon_b {
  background-position: -112px -112px;
}
img#enchant_w {
  background-position: 0px -128px;
}
img#enchant_p {
  background-position: -16px -128px;
}
img#enchant_a {
  background-position: -32px -128px;
}
img#enchant_h {
  background-position: -48px -128px;
}
img#enchant_c {
  background-position: -64px -128px;
}
img#enchant_f {
  background-position: -80px -128px;
}
img#enchant_n {
  background-position: -96px -128px;
}
img#no_sew {
  background-position: -112px -128px;
}
img#mbox_b {
  background-position: -0px -144px;
}
img#mbox_g {
  background-position: -16px -144px;
}
img#w_sun {
  background-position: -32px -144px;
}
img#w_rain {
  background-position: -48px -144px;
}
img#bless_d1 {
  background-position: -64px -144px;
}
img#bless_d2 {
  background-position: -80px -144px;
}
img#bless_r {
  background-position: -96px -144px;
}
img#bless_nr {
  background-position: -112px -144px;
}
img#sea_0 {
  background-position: -32px -64px;
}
img#sea_1 {
  background-position: -32px -72px;
}
img#sea_2 {
  background-position: -32px -80px;
}
img#sea_3 {
  background-position: -32px -88px;
}

/* tooltip implementation based on code from Andrea Ligios
   https://stackoverflow.com/questions/7117073/how-to-add-a-tooltip-to-a-div
   https://jsfiddle.net/AndreaLigios/jtLbpy62/
 */
[data-tooltip]:before {
  position: absolute;
  content: attr(data-tooltip);
  opacity: 0;
  box-shadow: 2px 2px 1px #603000;
  padding: 0.5em;
  color: #603000;
  white-space: pre;
}
[data-tooltip]:hover:before {
  opacity: 0.9;
  background: #ffe0b0;
  margin-top: -1.5em;
  margin-left: 0.5em;
  z-index: 2;
}
[data-tooltip]:not([data-tooltip-persistent]):before {
  pointer-events: none;
}
